<nav class="grocery-nav hide-on-small-only">
    <div class="nav-wrapper white">
      <a href="{% url 'groceries:list' %}" class="grocery-logo brand-logo">
        <span class="logo-container"><i class="material-icons left logo-icon">restaurant_menu</i>Grocery Lists</a></span>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{% url 'groceries:list' %}">All Lists</a></li>
        <li><a href="{% url 'groceries:create' %}">Create List</a></li>
      </ul>
    </div>
  </nav>