{% extends "grocery_lists/form_base.html" %}
{% load static %}
{% comment %} Formset logic detailed here: https://medium.com/@adandan01/django-inline-formsets-example-mybook-420cc4b6225d {% endcomment %}
{% block form %}
<style>
    .btn-add {
        width: 100%;
        {% comment %} border: 1px solid teal;
        border-radius: 5px; {% endcomment %}
        color: #b57d1c;
        background-color: #ffc576
    }
    .btn-delete:hover {
        background-color: rgba(255,100,100,.35);
    }
    .btn-delete {
        border 1px solid white;
    }
    .btn-save {
        color: #286e78 !important
    }
    tr {
        border-bottom: unset;
    }
    body {
        {% comment %} background-image: radial-gradient(circle, #ff6f6f, #fb6968, #f86262, #f45c5b, #f05555); {% endcomment %}
        {% comment %} background-image: radial-gradient(circle, #148eb0, #0081b3, #0074b3, #1264b0, #3a53a7); {% endcomment %}
        background-image: radial-gradient(circle, #2da8c6, #29b2d0, #23bcd9, #1cc6e2, #12d0eb);
    }
    label, input {
        color: white;
    }
    input {
        border-bottom: 1px solid white !Important;
    }
    input#id_name {
        border-bottom: none !important;
        color: #286e78;
    }
    nav {
        background-color: #f8f8f8;
        border-radius: 5px;
        border: 2px solid #e8e8e8
    }

</style>
<form action="" method="post">{% csrf_token %}
    <nav>
        <div class="nav-wrapper">
            {% for field in form %}
            <ul>
                <li class="right">
                    <button class="btn-flat white-text waves-effect waves-light btn-save" type="submit" name="action">Save
                        <i class="material-icons">check</i>
                    </button>
                </li>
                <li style="padding-left: 10px">{{field}}</li>
            </ul>
            
            {% endfor %}
        </div>
    </nav>
    <div class="col-md-4">
    <table class="table">
            {{ groceries.management_form }}

            {% comment %} <h3 class="center-align">Groceries</h3> {% endcomment %}
            {% for form in groceries.forms %}
                {% comment %} {% if forloop.first %}
                    <thead>
                    <tr>
                        {% for field in form.visible_fields %}
                            <th>{{ field.label|capfirst }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                {% endif %} {% endcomment %}
                <tr class="{% cycle row1 row2 %} formset_row">
                    {% for field in form.visible_fields %}
                        <td>
                            {# Include the hidden fields in the form #}
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {{ field.errors.as_ul }}
                            {% if field.name == "is_favorite" %}
                                {% comment %} <p>
                                    <label>
                                      <input type="checkbox" id="{{field.id_for_label}}" name="groceries-{{forloop.counter0}}-is_favorite" />
                                      <span>Favorite</span>
                                    </label>
                                </p> {% endcomment %}
                            {% else %}
                                {{ field }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
    </form>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'formset/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('.formset_row').formset({
        addText: '<i class="material-icons">add</i>',
        deleteText: '<i class="material-icons white-text">clear</i>',
        prefix: '{{groceries.prefix}}',
        addCssClass: 'btn waves-effect waves-light btn-add',
        deleteCssClass: 'waves-effect waves-red transparent btn-delete',
    });
    function favoriteItem(index) {
        console.log("clicked: ", index);
    }
    $('.btn-add').parent().css("text-align", "center");
    {% comment %} const favoriteButton = () => {
        return '<i class="material-icons">favorite_border</i>'
    }
    $('input[name*="is_favorite"').parent().html(favoriteButton); {% endcomment %}
</script>
{% endblock %}