{% extends "grocery_lists/base.html" %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<style>
    body {
        {% comment %} background-image: radial-gradient(circle, #ff6f6f, #fb6968, #f86262, #f45c5b, #f05555); {% endcomment %}
        {% comment %} background-image: radial-gradient(circle, #148eb0, #0081b3, #0074b3, #1264b0, #3a53a7); {% endcomment %}
        {% comment %} background-image: radial-gradient(circle, #2da8c6, #29b2d0, #23bcd9, #1cc6e2, #12d0eb); {% endcomment %}
        --stripe: #cfd8dc;
        --bg: #e1e1e1;
      
        background: linear-gradient(135deg, var(--bg) 25%, transparent 25%) -50px 0,
          linear-gradient(225deg, var(--bg) 25%, transparent 25%) -50px 0,
          linear-gradient(315deg, var(--bg) 25%, transparent 25%),
          linear-gradient(45deg, var(--bg) 25%, transparent 25%);
        background-size: 100px 100px;
        background-color: var(--stripe);
    }
    h5,p {
        color:white;
    }
    h3, h4 {
        color: #286e78;
        font-family: monospace;
    }

    .collection a.collection-item {
        color: #286e78
    }
    .collection {
        border: 3px solid #e4e4e4;
    }
    .collapsible-body {
        padding: unset;
    }
    .collapsible-header {
        color: #286e78;
        display: block;
    }
    .item-count {
        color: unset;
        padding-top: 3px;
        padding-left: 5px;
        color: #b9b9b9;
    }
    .collapsible {
        background-color: white;
    }
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%
    }
</style>
{% regroup object.groceries.all|dictsort:"category" by category as category_list %}
<ul class="collapsible">
    <h4 class="center-align">{{object.name}}</h4>
    <p class="center-align"><label >Created on: {{object.created_on}}</label></p>
    {% for category in category_list %}
        <li>
            <div 
            id='category-{{ forloop.counter0 }}' 
            class="collapsible-header" 
            onclick="handleAccordianClick('category-{{ forloop.counter0 }}')">
                <i class="material-icons left">expand_more</i>
                <span class="category-title" id="id-{{category.grouper}}-title">{{category.grouper}}</span>
                <label class="item-count right"><span class="item-count-span" id="id-{{category.grouper}}-item-count">0</span>/<span id="id-{{category.grouper}}-total-count">{{category.list|length}}</span> Items</label>
            </div>
            <div class="collapsible-body">
                <ul class="collection">
                    {% for item in category.list %}
                        <a 
                        id='{{category.grouper}}-item-{{ forloop.counter0 }}' 
                        onclick="placeInBag('{{category.grouper}}-item-{{ forloop.counter0 }}', {{item.id}}, '{{item.name}}', '{{item.category}}')" 
                        href="#!" class="collection-item">
                            {% if item.in_bag %}
                            <i class="material-icons left">check_box</i>{{item.name|title}}
                            {% else %}
                            <i class="material-icons left">check_box_outline_blank</i>{{item.name|title}}
                            {% endif %}
                        </a>
                    {% endfor %}
                    <div class="quick-add-container">
                        <form data-context="{{category.grouper}}" class="quick-add-form collection-item"></form>
                        <a href="#" class="collection-item blue-text quick-add-btn">
                            <i class="material-icons left">add</i>Add another
                        </a>
                    </div>
                </ul>
            </div>
        </li>
    {% endfor %}
</ul>

<script>
    $(document).ready(function(){
        $('.collapsible').collapsible();
    });

    function createQuickAddFormInput(element){
        let formElem = element.closest('.quick-add-container').find('.quick-add-form')
        const categoryName = formElem.attr('data-context')
        const input = `<input class="quick-add-input" data-attr='${categoryName}' type="text" value="" placeholder="Add a ${categoryName.toLowerCase()} item..." />`
        formElem.append(input)
    }

    function callQuickAddAPI(itemName, category, listID){
        console.log("inputContext:", itemName, category, listID)
        const payload = {
            "csrfmiddlewaretoken": '{{csrf_token}}',
            itemName: itemName,
            category:category,
            listID: listID
        }
        $.post(
            '/groceries/quick-add',
            payload
        ).done(
            (data) => {
                console.log("Successful! Data:", data)
            }
        ).fail(
            (data) => {
                console.log("Failed! Data: ", data)
            }
        )
    }

    $('.quick-add-container').on('blur', '.quick-add-input', function(){
        // When a quickAddInput is blurred (no longer selected/active/etc)
        // sends the value to the quick add input. While processing should 
        // show a spinner. On success will transform the input to a functional 
        // checkbox to eliminate the need for a page refresh. On fail, show
        // a failure message.
        let elem = $(this)
        let itemName = elem.val()
        let itemCategory = elem.attr('data-attr')
        let groceryListID = '{{object.id}}'
        callQuickAddAPI(itemName, itemCategory, groceryListID)
    })

    $('.quick-add-container').on('click', 'a.quick-add-btn', function(){
        let element = $(this);
        createQuickAddFormInput(element)
    });

    $('.collapsible-header').click(
        () => {
            $('.active').css("background-color", "hotpink")
        }
    )
    function handleAccordianClick(id){
        // Accordian HTML
        let accordian_elem = $("#"+id)
        if (accordian_elem.is(":contains('expand_more')")){
            accordian_elem.html(accordian_elem.html().replace("expand_more", "expand_less"))
        } else {
            accordian_elem.html(accordian_elem.html().replace("expand_less", "expand_more"))
        }
    }
    function placeInBag(element, itemId, itemName, itemCategory){
        // TODO: Convert element to a form and pass that back here
        let elemId = $("#"+element)
        console.log("ItemID:", itemId)
        if (elemId.is(":contains('check_box_outline_blank')")) {
            // Place item in bag

            // Check box
            elemId.html(
                elemId.html().replace("check_box_outline_blank", "check_box")
            )
            payload = {
                "csrfmiddlewaretoken": '{{csrf_token}}',
                "itemId": itemId,
                "inBag": true
            }
            $.post(
                "/groceries/{{object.id}}/addToBag",
                payload,
            )
                .done(
                    (data) => getBagCounts(data)
                )
                .fail(
                    () => console.log("Fail")
                )
        } else {
            // Place item in bag
            console.log("removing")
            // Check box
            elemId.html(
                elemId.html().replace("check_box", "check_box_outline_blank")
            )
            payload = {
                "csrfmiddlewaretoken": '{{csrf_token}}',
                "itemId": itemId,
                "inBag": false
            }
            $.post(
                "/groceries/{{object.id}}/addToBag",
                payload,
            )
                // On success return new list of items with in bag set
                .done(
                    (data) => getBagCounts(data))
                .fail(
                    () => console.log("Fail"))
        }
    }
    function getBagCounts(data) {
        console.log("Counting items in bag")
        console.log("Zeroing out")
        $('.item-count .item-count-span').html("0");
        $('.category-title').css("text-decoration", "unset");
        let itemCounts = {}
        // Convert django queryset into a list of categories of items
        // that have been placed in a bag
        if (data == undefined){
            var items = [
                {% for item in object.groceries.all %}
                    {% if item.in_bag %}
                        "{{item.category}}",
                    {% endif %}
                {% endfor %}
            ]
        } else {
            var items = []
            for (const item of data){
                items.push(item['category'])
            }
        }
        console.log("Items:", items)
        // Count the number of category occurences
        for (const category of items) {
            itemCounts[category] = itemCounts[category] ? itemCounts[category] + 1: 1
        }
        // update the count in the DOM
        console.log("ItemCounts:", itemCounts)
        for (category in itemCounts){
            const id = `id-${category}-item-count`
            const totalId = `id-${category}-total-count`
            const titleId = `id-${category}-title`
            
            const elem = $(`#${id}`)
            const totalElem = $(`#${totalId}`)
            const titleElem = $(`#${titleId}`)
            elem.html(itemCounts[category])
            if (elem.text() === totalElem.text()){
                // strike through category name
                titleElem.css(
                    {
                        "text-decoration": "line-through",
                        "text-decoration-thickness": "2px"
                    }
                )
            }
        }

    }
    getBagCounts()
</script>
{% endblock %}