<nav class="black">
  <div class="nav-wrapper container">
    <a href="{% url 'recipes:list' %}" class="brand-logo">
      <i class="material-icons left">fast_forward</i>
      Food Rewind
      <i class="material-icons right">fast_rewind</i>
    </a>
    <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="{% url 'recipes:list' %}">Home</a></li>
      {% if user.is_authenticated %}
      <li><a class="dropdown-trigger" href="#!" data-target="grocery-dropdown">Grocery Lists<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-trigger" href="#!" data-target="meal-plan-dropdown">Meal Plan<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-trigger" href="#!" data-target="recipe-dropdown">Recipes<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
      <li><a href="{% url 'login' %}">Login</a></li>
      {% endif %}
    </ul>
  </div>
</nav>

<ul id="recipe-dropdown" class="dropdown-content black">
  <li><a class="white-text" href="{% url 'recipes:list' %}">View Recipes</a></li>
  <li><a class="white-text" href="{% url 'recipes:create' %}">Add a Recipe</a></li>
</ul>

<ul id="grocery-dropdown" class="dropdown-content black">
  <li><a class="white-text" href="{% url 'groceries:list' %}">View Grocery Lists</a></li>
  <li><a class="white-text" href="{% url 'groceries:create' %}">Create a List</a></li>
</ul>

<ul id="meal-plan-dropdown" class="dropdown-content black">
  <li><a class="white-text" href="{% url 'meal_plan:list' %}">View Meals</a></li>
  <li><a class="white-text" href="{% url 'meal_plan:create' %}">Add a Meal</a></li>
</ul>

<ul class="sidenav" id="mobile-nav">
  {% if user.is_authenticated %}
  <li><a class="subheader">Food Rewind</a></li>
  <li><a class="waves-effect" href="{% url 'recipes:list' %}">Home</a></li>
  <li><a class="waves-effect" href="{% url 'recipes:create' %}">Add Recipe</a></li>
  <li><a class="subheader">Grocery Lists</a></li>
  <li><a class="waves-effect" href="{% url 'groceries:list' %}">All Lists</a></li>
  <li><a class="waves-effect" href="{% url 'groceries:create' %}">Create List</a></li>
  <li><a class="subheader">Meal Plan</a></li>
  <li><a href="{% url 'meal_plan:list' %}">View</a></li>
  <li><a href="{% url 'meal_plan:create' %}">Add Meal</a></li>
  {% else %}
  <li><a href="{% url 'login' %}">Login</a></li>
  {% endif %}
</ul>