{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Food Rewind</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Analytics -->
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="{% static '/css/custom.css' %}" />
    <script src="{% static 'js/analytics.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    {% include 'components/nav_bar.html' %}
    <ul class="sidenav" id="mobile-demo">
      <li><a class="subheader">Food Rewind</a></li>
      <li><a class="waves-effect" href="{% url 'recipes:list' %}">Home</a></li>
      <li><a class="waves-effect" href="{% url 'recipes:create' %}">Add Recipe</a></li>
      <li><a class="subheader">Grocery Lists</a></li>
      <li><a class="waves-effect" href="{% url 'groceries:list' %}">All Lists</a></li>
      <li><a class="waves-effect" href="{% url 'groceries:create' %}">Create List</a></li>
    </ul>
    <div class="container">{% block content %} {% endblock %}</div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    $(document).ready(function(){
        $('.collapsible').collapsible();
        $('.sidenav').sidenav();
      });
</script>
</html>
