{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Food Rewind</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="{% static '/css/custom.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body class="">
    <nav class="black">
      <div class="nav-wrapper container">
        <a href="{% url 'recipes:list' %}" class="brand-logo">
          <i class="material-icons left">fast_rewind</i>
          Food Rewind
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="{% url 'recipes:list' %}">Home</a></li>
          <li><a href="{% url 'groceries:list' %}">Grocery Lists</a></li>
          <li><a href="{% url 'recipes:create' %}">Add Recipe</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">{% block content %} {% endblock %}</div>
  </body>
</html>
